body, html {
    height: 100%;
    margin: 0;
    max-width: 100%;
   
  }
 body{
  overflow-x: hidden;
 }
  
  .bg {
    /* The image used */
    background-image: url("../pics/image.jpg");
    /* Full height */
    height: 85%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-index{
    text-align: center;
    background-color: rgb(16, 167, 167);
    border-radius: 3px;
    padding:10px 30px 10px 30px;
    border: none;
    color: aliceblue;
}
.button-Gen :hover{
    transition-duration: 0.5s;
    opacity: 80%;
}



  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  ion-icon{
    font-size: 50px;
    color: rgb(16, 167, 167);
  }
  .border-black{
    border: solid 1px rgb(167, 167, 167);
  }

  .border-a :hover{
    scale: 1.05;
    transition-duration: 0.5s;
}

    .prevent-select {
    pointer-events: none;
  }

  .footer-link{
    text-decoration: none;
    list-style-type: none;
  }
  .footer-link a{
    text-decoration: none;
    color: aliceblue;
}

.footer-link :hover{
    text-decoration: none;
    color: rgb(16, 167, 167);
}

.color-green{
    color: rgb(16, 167, 167);
    font-weight: 00;
}

.bg-o{
  color: rgb(16, 167, 167);
}

@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");



.card {
  position: relative;
  width: 320px;
  height: 480px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: rgb(16, 167, 167);
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
/*
.card .imgBox img {
    max-width: 100%;
    
    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;
      
}
*/
.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #e0e0e0;
  text-decoration: none;
  background: rgb(16, 167, 167);
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 250px;
  width: auto;
}

.card{
  scale: 0.8;
}